* {
	font-family: "Lato", sans-serif;
}

body {
	background: #FF8008;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */	
	background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.completed {
	color: gray;
	text-decoration: line-through;
}

#container {
	background: rgba(220, 220, 220, 1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: 15% auto;
	width: 360px;
}

.fa-plus {
	float: right;
	margin: 0 auto;
	padding: 0 auto;
}

input {
	background: rgba(0, 0, 0, 0.1);
	border: 3px solid rgba(50, 50, 200, 0.5);
	box-sizing: border-box;
	color: rgba(50, 50, 200, 0.5);
	font-size: 25px;
	height: 40px;
	padding: 13px 13px 13px 20px;
	text-align: center;
	width: 100%;
}

input:focus {
	background: white;
	outline: none;
}

li {
	font-size: 25px;
	height: 40px;
	line-height: 40px;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

li:nth-child(odd) {
	background: white;
}

h1 {
	background: rgba(50, 50, 200, 0.5);
	color: white;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 2% 5%;
	text-transform: uppercase;
}

span {
	background: rgba(200, 50, 50, 1);
	color: white;
	display: inline-block;
	height: 100%;
	margin-right: 20px;
	opacity: 0;
	text-align: center;
	width: 0;
	transition: 0.3s linear;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}